docker-compose.yml
Dockerfile
gitignore
requirements.txt
venv_rgbaloes
*/static/img
*/static/admin
static/
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
